<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="APP_NAME">spring-boot-elk-logging</Property>
        <Property name="LOGSTASH_HOST">${env:LOGSTASH_HOST:-localhost}</Property>
        <Property name="LOGSTASH_PORT">${env:LOGSTASH_PORT:-5000}</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - app=${APP_NAME} %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <Socket name="Logstash" host="${LOGSTASH_HOST}" port="${LOGSTASH_PORT}" protocol="TCP">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ReconnectDelayMillis>5000</ReconnectDelayMillis>
        </Socket>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Logstash"/>
        </Root>
    </Loggers>
</Configuration>
